html{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: auto;
    border-radius: 20px;
    border: 2px solid #333;
}

td {
    border-radius: 15px;
    width: 40px;
    height: 40px;
    border: 2px solid #333;
    background-color: #ffffff;
    user-select: none;
}

h1{
    color: purple;
}

h3 {
    display: inline-block;
}

.blank{
   border: 2px;
}

.edge{
    background-color: lightyellow;
}

#lives{
    height: 60px;
    width: 30%;
    margin: auto;
}